main {
  display: grid;
  grid-template-columns: 1fr 1 fr;
  grid-gap: 20px;
  min-width: 960 px;
  
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

section {
  background-color: #ddd;
}

/* **************************************** */
/* DO NOT TOUCH ANY STYLES ABOVE THIS LINE! */
/* WRITE YOUR STYLES BELOW! 👇👇👇           */
/* **************************************** */
